<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="SQLConnection" providerName="System.Data.sqlclient" connectionString="server=172.16.0.37\quickcap;database=PNS_COMPCONF_DB;user Id=sa;password=SA0922!" />
    <add name="CommonDB" providerName="System.Data.SqlClient" connectionString="server=172.16.0.37\quickcap;database=PNS_COMPCONF_DB;user Id=sa;password=SA0922!" />
  </connectionStrings>
  <appSettings>
    <add key="NetworksLocation" value="M:\Temp\Scrubber\NETWORKS" />
    <add key="ServiceName" value="Claim Scrubbing Engine" />
    <add key="INPath" value="IN" />
    <add key="OUTPath" value="OUT" />
    <add key="MOVEPath" value="MV_PROCESSED" />
    <add key="MainPath" value="M:\\Temp\\Scrubber" />
    <add key="INExtension" value="edi" />
    <add key="OUTExtension" value="edi" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceInterval" value="10000000" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>